{% extends "core/basic.html" %}
{% load i18n %}

{% block title %}{% trans "Inscription" %}{% endblock %}
{% block extra_css %}
<style>
  body {
    padding-top: 0;
  }
</style>
{% endblock %}

{% block messages %}
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <h2>{% trans "Vérifiez votre boîte mail" %}</h2>
  <p>{% trans "Un e-mail vous a été envoyé avec les instructions pour réinitialiser votre mot de passe." %}</p>

  <button class="'btn">
    <a  href="{% url 'accounts:login' %}">{% trans "Retour" %}</a>
  </button>
{% endblock %}
