{% extends "core/basic.html" %}
{% load static i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-container">
  <h2>{% trans "Login" %}</h2>
  <h1>{% trans "Access your account" %}</h1>
  <form method="post">
    {% csrf_token %}
    <label for="id_username">{% trans "Email" %}</label>
    <input type="email" name="username" id="id_username" required value="{{ form.username.value|default:'' }}">

    <label for="id_password">{% trans "Password" %}</label>
    <input type="password" name="password" id="id_password" required>

    <button type="submit">{% trans "Sign in" %}</button>

    <div class="password-reset">
      <span>{% trans "Forgot your password?" %}</span>
      <a href="{% url 'accounts:password_reset' %}">{% trans "Click here to reset it." %}</a>
    </div>
  </form>
</div>
{% endblock %}
